header
{
    background-color:#585858;
    color:white;
    text-align:center;
    padding:5px;
}

nav
 {
    line-height:30px;
    background-color:#CED8F6;
    height:500px;
    width:10%;
    float:left;
}

.area1
 {
    width:90%;
	height:500px;
    float:left;	 	 
	background-color:#724444;
}

footer {
    background-color:#585858;
    color:white;
    clear:both;
    text-align:center;
    padding:0px;	 	 
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #d6e3b8;
  }
}

